Repository e-square-io/nx-github-actions: changes, and which Codecov flags are due for each by the changed paths.
All: nx-affected-matrix, nx-distributed-task, utils

fix: createProjectsHash not called
  packages/nx-distributed-task/src/main.ts
Due: nx-distributed-task

fix: workspaces is not used
  packages/utils/src/lib/hasher.ts
Due: utils

fix: upgrade @actions/cache from 1.0.8 to 1.0.9
  package-lock.json
  package.json
Due: none

fix: warn about custom hasher not found
  packages/nx-distributed-task/src/app/cache.ts
  packages/utils/src/lib/hasher.ts
Due: nx-distributed-task, utils

fix: reimplement workspaces class with external require
  packages/nx-distributed-task/action.yml
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/workspace.ts
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/src/main.ts
Due: nx-distributed-task

ci: force disable NX cloud in e2e
  .github/workflows/main.yml
Due: none

refactor: remove excessive debugs
  packages/nx-distributed-task/src/app/cache.ts
Due: nx-distributed-task

fix: wrong nethod names
  packages/nx-distributed-task/src/app/workspace.ts
Due: nx-distributed-task

fix: use __original_require__
  packages/nx-distributed-task/action.yml
Due: nx-distributed-task

refactor: disabled nx cloud in e2e
  .github/workflows/main.yml
Due: none

fix: checking for cache key before save
  .github/workflows/main.yml
  nx.json
  packages/nx-distributed-task/src/app/cache.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/cache.ts
Due: nx-distributed-task, utils

ci: disable nx cloud
  .github/workflows/main.yml
Due: none

fix: missing cache outputs
  packages/nx-affected-matrix/action.yml
  packages/nx-affected-matrix/src/app/__mocks__/get-affected.ts
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-affected-matrix/src/app/nx-affected-matrix.spec.ts
  packages/nx-affected-matrix/src/app/nx-affected-matrix.ts
  packages/nx-affected-matrix/src/main.spec.ts
  packages/nx-affected-matrix/src/main.ts
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/upload.spec.ts
  packages/nx-distributed-task/src/app/upload.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/cache.ts
  packages/utils/src/lib/hasher.ts
  packages/utils/src/lib/task-graph.ts
  packages/utils/src/lib/task.ts
  packages/utils/src/lib/workspace.ts
Due: nx-affected-matrix, nx-distributed-task, utils

fix(nx-affected-matrix): projects without target
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-affected-matrix/src/app/project-graph.ts
Due: nx-affected-matrix

fix: add missing cache files
  packages/utils/src/lib/cache.ts
Due: utils

feat: add restore cache of deps if task's cache is missing
  package-lock.json
  package.json
  packages/nx-affected-matrix/project.json
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-affected-matrix/src/app/project-graph.ts
  packages/nx-distributed-task/project.json
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/inputs.ts
  packages/nx-distributed-task/src/app/upload.spec.ts
  packages/nx-distributed-task/src/app/upload.ts
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/.babelrc
  packages/utils/.lib.swcrc
  packages/utils/jest.config.js
  packages/utils/package.json
  packages/utils/project.json
  packages/utils/src/index.ts
  packages/utils/src/lib/__mocks__/fs.ts
  packages/utils/src/lib/artifact.ts
  packages/utils/src/lib/cache.ts
  packages/utils/src/lib/exec.ts
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/hasher.ts
  packages/utils/src/lib/inputs.ts
  packages/utils/src/lib/project-graph.ts
  packages/utils/src/lib/task-graph.ts
  packages/utils/src/lib/workspace.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.lib.json
  prettier.config.js
Due: nx-affected-matrix, nx-distributed-task, utils

fix: failing tests
  packages/nx-distributed-task/src/main.spec.ts
Due: nx-distributed-task

fix: failing tests
  packages/nx-distributed-task/src/app/__mocks__/nx.ts
  packages/nx-distributed-task/src/app/__mocks__/upload.ts
  packages/nx-distributed-task/src/main.spec.ts
  packages/utils/jest.config.js
  packages/utils/src/lib/cache.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.spec.json
Due: nx-distributed-task, utils

fix: restore cache of all task deps and skip already restored deps
  packages/nx-distributed-task/src/app/cache.ts
Due: nx-distributed-task

ci: revert local runner
  .github/workflows/main.yml
  nx.json
Due: none

build: update actions pkgs
  package-lock.json
  package.json
Due: none

test: add tests
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/cache.ts
Due: nx-distributed-task, utils

chore(release): v2.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8b07bf36b45b5af7f2851f0d4ec170309af96928
Due: none

fix: cant get task configuration when resolving customHasher
  packages/nx-affected-matrix/tsconfig.app.json
  packages/nx-affected-matrix/tsconfig.spec.json
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/tsconfig.app.json
  packages/nx-distributed-task/tsconfig.spec.json
  packages/utils/.lib.swcrc
  packages/utils/src/lib/hasher.ts
  packages/utils/src/lib/task-graph.ts
  packages/utils/src/lib/workspace.ts
  packages/utils/tsconfig.lib.json
  packages/utils/tsconfig.spec.json
Due: nx-affected-matrix, nx-distributed-task, utils

ci: limit actions version
  .github/workflows/main.yml
Due: none

ci: disable debug mode
  .github/workflows/main.yml
Due: none

ci: add e2e execute test
  .github/workflows/main.yml
Due: none

fix: cant get task configuration when resolving customHasher (#41)
  .github/workflows/main.yml
  packages/nx-affected-matrix/tsconfig.app.json
  packages/nx-affected-matrix/tsconfig.spec.json
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/tsconfig.app.json
  packages/nx-distributed-task/tsconfig.spec.json
  packages/utils/.lib.swcrc
  packages/utils/src/lib/hasher.ts
  packages/utils/src/lib/task-graph.ts
  packages/utils/src/lib/workspace.ts
  packages/utils/tsconfig.lib.json
  packages/utils/tsconfig.spec.json
Due: nx-affected-matrix, nx-distributed-task, utils

chore(release): v2.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  7c6ef1cfbd17987e9fe2974a17d6223244ea9d41
Due: none

ci: use latest actions
  .github/workflows/main.yml
Due: none

ci: use latest actions
  packages/utils/.lib.swcrc
  packages/utils/jest.config.js
  packages/utils/project.json
Due: utils

ci: use latest actions
  packages/utils/src/lib/hasher.ts
Due: utils

fix: failing test
  packages/utils/src/lib/exec.spec.ts
Due: utils

ci: remove lint target
  .github/workflows/main.yml
Due: none

fix(utils): support both new and old custom hashers signatures (#42)
  .github/workflows/main.yml
  packages/utils/.lib.swcrc
  packages/utils/jest.config.js
  packages/utils/project.json
  packages/utils/src/lib/exec.spec.ts
  packages/utils/src/lib/hasher.ts
Due: utils

Path conditions:
  nx-affected-matrix: any of: packages/nx-affected-matrix/**/*
  nx-distributed-task: any of: packages/nx-distributed-task/**/*
  utils: any of: packages/utils/**/*
