Repository e-square-io/nx-github-actions: changes, and which Codecov flags are due for each by the changed paths.
All: nx-affected-matrix, nx-distributed-task, utils

codecov.yml:

flags:
  nx-affected-matrix:
    paths:
      - packages/nx-affected-matrix/**/*
  nx-distributed-task:
    paths:
      - packages/nx-distributed-task/**/*
  utils:
    paths:
      - packages/utils/**/*

chore(general): run npm audit fix to address vulns
  package-lock.json
Due: none

feat(general): support nx 16 binary package
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

feat: support nx 16
  .all-contributorsrc
  .gitignore
  README.md
  package-lock.json
  package.json
  packages/nx-affected-matrix/src/app/__mocks__/get-affected.ts
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
  packages/nx-distributed-task/src/app/upload.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/hasher.ts
  packages/utils/src/lib/inputs.spec.ts
  packages/utils/src/lib/inputs.ts
  packages/utils/src/lib/project-graph.ts
  packages/utils/src/lib/task-graph.ts
  packages/utils/src/lib/workspace.ts
  webpack.config.js
Due: nx-affected-matrix, nx-distributed-task, utils

fix: package.json & package-lock.json to reduce vulnerabilities
  package.json
Due: none

chore(release): v2.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  79c90c762d753b6f85bee1b60f3eac6fdaec3f9b
Due: none

fix: git ownership issue
  .github/workflows/main.yml
  packages/utils/src/lib/inputs.ts
Due: utils

fix: git ownership issue (#72)
  .github/workflows/main.yml
  packages/utils/src/lib/inputs.ts
Due: utils

chore(release): v2.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  d711b0f1c323990b5b6f8760313767e6f33c9fc3
Due: none

ci: remove fix git permission step [skip ci]
  .github/workflows/main.yml
Due: none

docs: update readme badges [skip ci]
  README.md
  packages/nx-affected-matrix/README.md
  packages/nx-distributed-task/README.md
Due: nx-affected-matrix, nx-distributed-task

fix: upgrade @actions/artifact from 1.0.0 to 1.1.1
  package-lock.json
  package.json
Due: none

fix: upgrade tslib from 2.3.1 to 2.5.0
  package-lock.json
  package.json
Due: none

fix: remove -p from runner command if nx greater than 16
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

fix test
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

fix: remove space
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

revert: last space removal
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

fix: add missing spaces
  packages/nx-distributed-task/src/app/nx.spec.ts
Due: nx-distributed-task

fix: spaces
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

fix: remove -p from yarn
  packages/nx-distributed-task/src/app/nx.spec.ts
Due: nx-distributed-task

fix: remove -p from runner command if nx greater than 16 (#76)
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

chore(release): v2.5.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  79623761def29bbd39f811623ff7dcce7fabd02f
Due: none

fix: package.json to reduce vulnerabilities
  package.json
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

refactor: update readme [skip ci]
  README.md
Due: none
