Repository e-square-io/nx-github-actions: changes, and which Codecov flags are due for each by the changed paths.
All: nx-affected-matrix, nx-distributed-task, utils

codecov.yml:

flags:
  nx-affected-matrix:
    paths:
      - packages/nx-affected-matrix/**/*
  nx-distributed-task:
    paths:
      - packages/nx-distributed-task/**/*
  utils:
    paths:
      - packages/utils/**/*

chore(release): v2.4.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c31e74ed8e0f82adcc10e8b61399a7d6699194a9
Due: none

fix(nx-distributed-task): running NX command is not working with pnpm
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

fix(nx-distributed-task): running NX command is not working with pnpm (#44)
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

chore(release): v2.4.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  07f5c6db0fd176d45ed7e727db78e3db2d4f3042
Due: none

docs: add @robinpellegrims as a contributor [skip ci]
  .all-contributorsrc
  README.md
  packages/nx-affected-matrix/README.md
  packages/nx-distributed-task/README.md
Due: nx-affected-matrix, nx-distributed-task

fix: upgrade @nrwl/devkit from 13.8.8 to 13.9.2
  package-lock.json
  package.json
Due: none

fix: upgrade @nrwl/tao from 13.8.8 to 13.9.2
  package-lock.json
  package.json
Due: none

docs: fix marketplace link in README
  packages/nx-distributed-task/README.md
Due: nx-distributed-task

docs: fix marketplace link in README (#49)
  packages/nx-distributed-task/README.md
Due: nx-distributed-task

chore(release): v2.4.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e0a1f7fb41b1b55712851467193e1b7341161355
Due: none

fix: with-deps removed in nx 14
  packages/nx-distributed-task/src/app/nx.ts
  packages/utils/src/lib/inputs.ts
Due: nx-distributed-task, utils

fix: with-deps removed in nx 14
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

fix: get nx version command
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

fix: with-deps removed in nx 14 (#51)
  packages/nx-distributed-task/src/app/nx.ts
  packages/utils/src/lib/inputs.ts
Due: nx-distributed-task, utils

chore(release): v2.4.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  bec6b3d41879b52ba52e7fdaa41c64dfdc7ce6e8
Due: none

fix(nx-distributed-task): undefined args are not filtered out
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

fix(nx-distributed-task): undefined args are not filtered out (#52)
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task

chore(release): v2.4.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  ce487fefeb9507082b63d2d9379479f36f720c66
Due: none

fix(nx-affected-matrix): e2e apps are ignored
  packages/nx-affected-matrix/src/app/__mocks__/get-affected.ts
  packages/nx-affected-matrix/src/app/get-affected.ts
Due: nx-affected-matrix

fix(nx-affected-matrix): e2e apps are ignored (#55)
  packages/nx-affected-matrix/src/app/__mocks__/get-affected.ts
  packages/nx-affected-matrix/src/app/get-affected.ts
Due: nx-affected-matrix

chore(release): v2.4.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  de1e146e8201c6f313963c96bc8b7337d0b9b384
Due: none

fix(nx-affected-matrix): get affected fails
  packages/utils/src/lib/workspace.ts
Due: utils

fix(nx-affected-matrix): get affected fails (#57)
  packages/utils/src/lib/workspace.ts
Due: utils

chore(release): v2.4.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c4d67a409a0db13239b688c9b743c2d4d32ff415
Due: none

docs(nx-affected-matrix): add known issues
  packages/nx-affected-matrix/README.md
Due: nx-affected-matrix

docs(nx-affected-matrix): add known issues (#58)
  packages/nx-affected-matrix/README.md
Due: nx-affected-matrix

chore(release): v2.4.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8568e9ed605da2f13d68753f324e91338027f526
Due: none

fix(utils): set workingDirectory to NX_WORKSPACE_ROOT_PATH env var
  packages/utils/src/lib/inputs.ts
Due: utils

fix: package.json & package-lock.json to reduce vulnerabilities
  package.json
Due: none

feat(general): migrate nx to latest
  jest.config.ts
  jest.preset.js
  migrations.json
  nx.json
  package-lock.json
  package.json
  packages/nx-affected-matrix/jest.config.ts
  packages/nx-affected-matrix/project.json
  packages/nx-affected-matrix/tsconfig.app.json
  packages/nx-affected-matrix/tsconfig.spec.json
  packages/nx-distributed-task/jest.config.ts
  packages/nx-distributed-task/project.json
  packages/nx-distributed-task/tsconfig.app.json
  packages/nx-distributed-task/tsconfig.spec.json
  packages/utils/jest.config.ts
  packages/utils/project.json
  packages/utils/tsconfig.lib.json
  packages/utils/tsconfig.spec.json
  workspace.json
Due: nx-affected-matrix, nx-distributed-task, utils

fix(general): retrieve root to project files
  packages/nx-affected-matrix/project.json
  packages/nx-distributed-task/project.json
  packages/utils/project.json
Due: nx-affected-matrix, nx-distributed-task, utils

fix(general): add log
  packages/utils/src/lib/inputs.ts
Due: utils
