Repository e-square-io/nx-github-actions: changes, and which Codecov flags are due for each by the changed paths.
All: nx-affected-matrix, nx-distributed-task, utils

feat(general): remove insiders, update imports
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/hasher.ts
  packages/utils/src/lib/inputs.ts
  packages/utils/src/lib/task-graph.ts
  packages/utils/src/lib/workspace.ts
Due: nx-affected-matrix, nx-distributed-task, utils

fix(general): fix depends on
  packages/nx-distributed-task/src/app/inputs.ts
  packages/nx-distributed-task/src/app/upload.ts
  packages/utils/src/lib/inputs.ts
Due: nx-distributed-task, utils

fix(general): fix depends on
  packages/utils/src/lib/inputs.ts
Due: utils

fix(general): fix depends on
  packages/utils/src/lib/inputs.spec.ts
Due: utils

fix(general): add temp depends on
  nx.json
Due: none

fix(general): update imports
  packages/nx-affected-matrix/src/app/__mocks__/get-affected.ts
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
  packages/utils/src/lib/project-graph.ts
Due: nx-affected-matrix, nx-distributed-task, utils

fix(general): types and test
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/utils/src/lib/task.ts
Due: nx-distributed-task, utils

fix(general): types and test
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/upload.ts
  packages/nx-distributed-task/src/main.ts
Due: nx-distributed-task

fix(general): types and test
  packages/nx-distributed-task/src/app/upload.spec.ts
Due: nx-distributed-task

fix(general): types and test
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/inputs.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/inputs.ts
  packages/utils/src/lib/task.ts
  packages/utils/src/lib/workspace.ts
Due: nx-affected-matrix, nx-distributed-task, utils

fix(general): types and test
  packages/nx-distributed-task/src/app/cache.spec.ts
Due: nx-distributed-task

fix(general): types and test
  packages/utils/src/lib/inputs.spec.ts
Due: utils

fix(general): paths to index files - wip
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/hasher.ts
Due: nx-affected-matrix, nx-distributed-task, utils

fix(general): imports not from index
  packages/nx-affected-matrix/src/app/__mocks__/get-affected.ts
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/hasher.ts
  packages/utils/src/lib/project-graph.ts
  packages/utils/src/lib/task.ts
  packages/utils/src/lib/workspace.ts
Due: nx-affected-matrix, nx-distributed-task, utils

fix(general): add @swc to externals
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/utils/src/lib/hasher.spec.ts
  packages/utils/src/lib/hasher.ts
  webpack.config.js
Due: nx-affected-matrix, utils

fix(general): add logs
  packages/nx-distributed-task/src/main.ts
Due: nx-distributed-task

fix(general): add logs
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/inputs.ts
Due: nx-distributed-task, utils

fix(utils): protect against no dependsOn
  packages/utils/src/lib/inputs.ts
Due: utils

fix(utils): protect against no dependsOn (#64)
  packages/utils/src/lib/inputs.ts
Due: utils

chore(release): v2.4.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  1023422678c5152e7848b09964a47aae5ca01013
Due: none

fix(utils): workingDirectory is not being set correctly (#59)
  packages/utils/src/lib/inputs.ts
Due: utils

chore(release): v2.4.11
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  04b23978d5de73bda7f020f22900bbb999e7fcea
Due: none

fix(general): logs
  packages/nx-distributed-task/src/main.ts
Due: nx-distributed-task

fix(utils): cache error is being rethrown
  packages/utils/src/lib/cache.ts
Due: utils

fix: failing tests
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/cache.ts
Due: utils

fix(utils): cache error is being rethrown (#65)
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/cache.ts
Due: utils

chore(release): v2.4.12
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  cc6dc94bbdb7965664779340aada2af3a160eec9
Due: none

fix: upgrade @nrwl/devkit from 13.8.8 to 13.10.6
  package-lock.json
  package.json
Due: none

fix: upgrade @nrwl/tao from 13.8.8 to 13.10.6
  package-lock.json
  package.json
Due: none

chore(general): run npm audit fix to address vulns
  package-lock.json
Due: none

docs: add @rathpc as a contributor
  .all-contributorsrc
  README.md
Due: none

chore(general): update nx to 13.10.6 and fix resulting issues
  .gitignore
  package-lock.json
  package.json
  packages/nx-affected-matrix/src/app/__mocks__/get-affected.ts
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
  packages/nx-distributed-task/src/app/upload.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/hasher.ts
  packages/utils/src/lib/inputs.spec.ts
  packages/utils/src/lib/inputs.ts
  packages/utils/src/lib/project-graph.ts
  packages/utils/src/lib/task-graph.ts
  packages/utils/src/lib/workspace.ts
Due: nx-affected-matrix, nx-distributed-task, utils

chore(general): update nx to 13.10.6 and fix resulting issues
  .gitignore
  package-lock.json
  package.json
  packages/nx-affected-matrix/src/app/__mocks__/get-affected.ts
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
  packages/nx-distributed-task/src/app/upload.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/hasher.ts
  packages/utils/src/lib/inputs.spec.ts
  packages/utils/src/lib/inputs.ts
  packages/utils/src/lib/project-graph.ts
  packages/utils/src/lib/task-graph.ts
  packages/utils/src/lib/workspace.ts
  webpack.config.js
Due: nx-affected-matrix, nx-distributed-task, utils

Path conditions:
  nx-affected-matrix: any of: packages/nx-affected-matrix/**/*
  nx-distributed-task: any of: packages/nx-distributed-task/**/*
  utils: any of: packages/utils/**/*
