Repository e-square-io/nx-github-actions: changes, and which Codecov flags are due for each by the changed paths.
All: nx-affected-matrix, nx-distributed-task, utils

codecov.yml:

flags:
  nx-affected-matrix:
    paths:
      - packages/nx-affected-matrix/**/*
  nx-distributed-task:
    paths:
      - packages/nx-distributed-task/**/*
  utils:
    paths:
      - packages/utils/**/*

feat(nx-distributed-task): move caching to post job
  .github/workflows/main.yml
  .github/workflows/pr.yml
  codecov.yml
  jest.config.js
  nx.json
  package-lock.json
  package.json
  packages/nx-affected-matrix/README.md
  packages/nx-affected-matrix/action.yml
  packages/nx-affected-matrix/src/lib/inputs.ts
  packages/nx-affected-matrix/src/lib/nx-affected-matrix.spec.ts
  packages/nx-affected-matrix/src/lib/nx-affected-matrix.ts
  packages/nx-affected-matrix/tsconfig.lib.json
  packages/nx-affected-matrix/tsconfig.spec.json
  packages/nx-distributed-task/README.md
  packages/nx-distributed-task/action.yml
  packages/nx-distributed-task/src/lib/inputs.ts
  packages/nx-distributed-task/src/lib/nx-distributed-task.spec.ts
  packages/nx-distributed-task/src/lib/nx-distributed-task.ts
  packages/nx-distributed-task/tsconfig.lib.json
  packages/nx-distributed-task/tsconfig.spec.json
  packages/utils/__mocks__/@actions/glob.ts
  packages/utils/project.json
  packages/utils/src/index.ts
  packages/utils/src/lib/__mocks__/logger.ts
  packages/utils/src/lib/artifact.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/cache.ts
  packages/utils/src/lib/exec.ts
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/git.ts
  packages/utils/src/lib/inputs.spec.ts
  packages/utils/src/lib/inputs.ts
  packages/utils/src/lib/logger.ts
  packages/utils/src/lib/nx.spec.ts
  packages/utils/src/lib/nx.ts
  packages/utils/tsconfig.lib.json
  packages/utils/tsconfig.spec.json
  workspace.json
Due: nx-affected-matrix, nx-distributed-task, utils

ci: trigger change
  packages/utils/src/lib/artifact.ts
Due: utils

ci: trigger change
  packages/nx-affected-matrix/src/lib/nx-affected-matrix.ts
  packages/nx-distributed-task/src/lib/inputs.ts
  packages/nx-distributed-task/src/lib/nx-distributed-task.ts
Due: nx-affected-matrix, nx-distributed-task

chore(release): v2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  0ace038e62ad2410d7d12151a161853d9764d6b8
Due: none

fix(utils): resolve restore cache path
  packages/nx-affected-matrix/src/lib/nx-affected-matrix.spec.ts
  packages/nx-affected-matrix/src/lib/nx-affected-matrix.ts
  packages/nx-distributed-task/action.yml
  packages/nx-distributed-task/src/lib/inputs.ts
  packages/nx-distributed-task/src/lib/nx-distributed-task.spec.ts
  packages/nx-distributed-task/src/lib/nx-distributed-task.ts
  packages/utils/__mocks__/@actions/cache.ts
  packages/utils/src/lib/__mocks__/fs.ts
  packages/utils/src/lib/artifact.spec.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/cache.ts
  packages/utils/src/lib/exec.spec.ts
  packages/utils/src/lib/logger.ts
Due: nx-affected-matrix, nx-distributed-task, utils

chore(release): v2.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  069653f40699c816e5d56d8545b2bbd3b6677cbb
Due: none

chore(release): v2.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  757ac5c40f64691fefef81a556b5bd1f38edee61
Due: none

ci: update workflows
  .github/workflows/main.yml
  .github/workflows/pr.yml
  codecov.yml
  packages/nx-affected-matrix/src/assets/action.yml
  packages/nx-distributed-task/src/assets/action.yml
  packages/utils/project.json
Due: nx-affected-matrix, nx-distributed-task, utils

fix: actions ref
  .github/workflows/main.yml
Due: none

fix: missing quotes
  .github/workflows/main.yml
Due: none

ci: change coverage reporter
  jest.preset.js
Due: none

test: remove all logs in tests
  jest.preset.js
  packages/nx-affected-matrix/__mocks__/@actions/core.ts
  packages/nx-affected-matrix/src/app/nx-affected-matrix.spec.ts
  packages/nx-affected-matrix/tsconfig.app.json
  packages/nx-affected-matrix/tsconfig.spec.json
  packages/nx-distributed-task/__mocks__/@actions/core.ts
  packages/nx-distributed-task/src/app/nx-distributed-task.spec.ts
  packages/nx-distributed-task/tsconfig.app.json
  packages/nx-distributed-task/tsconfig.spec.json
  packages/utils/__mocks__/@actions/core.ts
  packages/utils/src/lib/__mocks__/logger.ts
  packages/utils/src/lib/artifact.spec.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/git.spec.ts
  packages/utils/src/lib/inputs.spec.ts
  packages/utils/src/lib/nx.spec.ts
Due: nx-affected-matrix, nx-distributed-task, utils

ci: update workflows (#23)
  .github/workflows/main.yml
  .github/workflows/pr.yml
  codecov.yml
  jest.preset.js
  packages/nx-affected-matrix/__mocks__/@actions/core.ts
  packages/nx-affected-matrix/src/app/nx-affected-matrix.spec.ts
  packages/nx-affected-matrix/src/assets/action.yml
  packages/nx-affected-matrix/tsconfig.app.json
  packages/nx-affected-matrix/tsconfig.spec.json
  packages/nx-distributed-task/__mocks__/@actions/core.ts
  packages/nx-distributed-task/src/app/nx-distributed-task.spec.ts
  packages/nx-distributed-task/src/assets/action.yml
  packages/nx-distributed-task/tsconfig.app.json
  packages/nx-distributed-task/tsconfig.spec.json
  packages/utils/__mocks__/@actions/core.ts
  packages/utils/project.json
  packages/utils/src/lib/__mocks__/logger.ts
  packages/utils/src/lib/artifact.spec.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/git.spec.ts
  packages/utils/src/lib/inputs.spec.ts
  packages/utils/src/lib/nx.spec.ts
Due: nx-affected-matrix, nx-distributed-task, utils

fix: add missing e2e jobs
  .github/workflows/main.yml
  .github/workflows/pr.yml.bak
Due: none

fix: remove bak file
  .github/workflows/pr.yml.bak
Due: none

refactor: fix import order
  packages/utils/src/lib/exec.ts
Due: utils

fix: parse booleans correctly
  .github/workflows/main.yml
  README.md
Due: none

ci: add missing e2e jobs (#24)
  .github/workflows/main.yml
  README.md
  packages/utils/src/lib/exec.ts
Due: utils

chore(release): v2.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  44f32abeaf1cb5b1880ad520346f0034a317affe
Due: none

ci: fix wrong inputs in publish job
  .github/workflows/main.yml
Due: none

ci: trigger change
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/nx.ts
Due: utils

ci: fix wrong inputs in publish job (#25)
  .github/workflows/main.yml
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/nx.ts
Due: utils

chore(release): v2.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8838472bfb5d27eeb973cf53ee815106f415f718
Due: none

build: update nx packages
  package-lock.json
  package.json
Due: none

build: update nx packages (#26)
  package-lock.json
  package.json
Due: none

chore(release): v2.1.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  63d9ccf5ef13273c5a236566218c763c75ef6973
Due: none

chore(release): v2.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
