Repository e-square-io/nx-github-actions: changes, and which Codecov flags are due for each by the changed paths.
All: nx-affected-matrix, nx-distributed-task, utils

codecov.yml:

flags:
  nx-affected-matrix:
    paths:
      - packages/nx-affected-matrix/**/*
  nx-distributed-task:
    paths:
      - packages/nx-distributed-task/**/*
  utils:
    paths:
      - packages/utils/**/*

feat: use nx devkit (#33)
  .github/workflows/main.yml
  README.md
  __mocks__/@angular-devkit/build-angular/src/utils/version.js
  __mocks__/prettier/index.js
  __mocks__/which.ts
  package-lock.json
  package.json
  packages/nx-affected-matrix/README.md
  packages/nx-affected-matrix/action.yml
  packages/nx-affected-matrix/project.json
  packages/nx-affected-matrix/src/app/__mocks__/get-affected.ts
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-affected-matrix/src/app/inputs.ts
  packages/nx-affected-matrix/src/app/nx-affected-matrix.spec.ts
  packages/nx-affected-matrix/src/app/nx-affected-matrix.ts
  packages/nx-affected-matrix/src/app/project-graph.ts
  packages/nx-affected-matrix/src/main.spec.ts
  packages/nx-affected-matrix/src/main.ts
  packages/nx-distributed-task/project.json
  packages/nx-distributed-task/src/app/__mocks__/nx.ts
  packages/nx-distributed-task/src/app/__mocks__/upload.ts
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/inputs.ts
  packages/nx-distributed-task/src/app/nx-distributed-task.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
  packages/nx-distributed-task/src/app/upload.spec.ts
  packages/nx-distributed-task/src/app/upload.ts
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/exec.ts
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/inputs.spec.ts
  packages/utils/src/lib/inputs.ts
  packages/utils/src/lib/logger.ts
  packages/utils/src/lib/npm.ts
  packages/utils/src/lib/nx.spec.ts
  packages/utils/src/lib/nx.ts
  webpack.config.js
Due: nx-affected-matrix, nx-distributed-task, utils

chore(release): v2.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  5494dfdbd241bfdf79c24753d33e3595071bd729
Due: none

ci: remove steps before nx-affected-matrix
  .github/workflows/main.yml
Due: none

fix(utils): cant resolve absolute files
  packages/utils/src/lib/fs.ts
Due: utils

ci: make e2e jobs parallel
  .github/workflows/main.yml
Due: none

ci: test action env
  packages/nx-affected-matrix/action.yml
  packages/nx-distributed-task/action.yml
  packages/utils/src/lib/fs.ts
Due: nx-affected-matrix, nx-distributed-task, utils

ci: test action without debug
  .github/workflows/main.yml
  packages/nx-affected-matrix/action.yml
  packages/nx-distributed-task/action.yml
  packages/utils/src/lib/fs.ts
Due: nx-affected-matrix, nx-distributed-task, utils

fix(utils): workspace file path is not resolved (#34)
  .github/workflows/main.yml
  packages/nx-affected-matrix/action.yml
  packages/utils/src/lib/fs.ts
Due: nx-affected-matrix, utils

chore(release): v2.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  fcd1914760ce8f5cb4e5bf74d98937ba896f6db9
Due: none

refactor(nx-affected-matrix): remove console.log
  packages/nx-affected-matrix/action.yml
Due: nx-affected-matrix

fix(nx-distributed-task): save cache not working
  packages/nx-distributed-task/action.yml
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/cache.ts
Due: nx-distributed-task, utils

fix(utils): save cache is not working (#35)
  packages/nx-affected-matrix/action.yml
  packages/nx-distributed-task/action.yml
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/cache.ts
Due: nx-affected-matrix, nx-distributed-task, utils

chore(release): v2.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  2ced0325a146737b985e29a5ddfe4077c6e62c26
Due: none

fix(utils): configuration is not parsed from args & args name format
  packages/nx-distributed-task/src/app/nx.ts
  packages/utils/src/lib/inputs.ts
Due: nx-distributed-task, utils

fix(utils): configuration is not parsed from args & args name format (#36)
  packages/nx-distributed-task/src/app/nx.ts
  packages/utils/src/lib/inputs.ts
Due: nx-distributed-task, utils

chore(release): v2.3.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  5978d43935e5dcab9ebed5c0734d8bb4d53a7fc3
Due: none

fix(utils): args are not fully parsed
  .github/workflows/main.yml
  packages/utils/src/lib/inputs.ts
Due: utils

test: log nx args
  packages/nx-affected-matrix/src/app/get-affected.ts
Due: nx-affected-matrix

test: log nx args
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-affected-matrix/src/app/project-graph.ts
Due: nx-affected-matrix

test: log projects to run
  packages/nx-affected-matrix/src/app/get-affected.ts
Due: nx-affected-matrix

test: log projects to run
  .github/workflows/main.yml
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-affected-matrix/src/app/inputs.ts
Due: nx-affected-matrix

test: getArgsInput
  packages/utils/src/lib/inputs.ts
Due: utils

test: getArgsInput
  .github/workflows/main.yml
Due: none

test: getArgsInput
  .github/workflows/main.yml
  packages/nx-affected-matrix/src/app/inputs.ts
  packages/utils/src/lib/inputs.ts
Due: nx-affected-matrix, utils

test: getArgsInput
  packages/nx-affected-matrix/src/main.ts
  packages/nx-distributed-task/action.yml
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/inputs.ts
Due: nx-affected-matrix, nx-distributed-task, utils

test: getArgsInput
  packages/nx-distributed-task/action.yml
  packages/nx-distributed-task/src/main.ts
Due: nx-distributed-task

test: getArgsInput
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-distributed-task/src/app/inputs.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/src/main.ts
Due: nx-affected-matrix, nx-distributed-task

test: getArgsInput
  packages/nx-distributed-task/src/main.ts
Due: nx-distributed-task

refactor(utils): parse args more generically
  packages/utils/src/lib/inputs.ts
Due: utils

fix(utils): args are not fully parsed (#37)
  .github/workflows/main.yml
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-affected-matrix/src/app/project-graph.ts
  packages/nx-affected-matrix/src/main.ts
  packages/nx-distributed-task/action.yml
  packages/nx-distributed-task/src/app/inputs.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/inputs.ts
Due: nx-affected-matrix, nx-distributed-task, utils

chore(release): v2.3.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  2879c113f9c71ba989507f61b14224d0c0a40241
Due: none

feat(nx-distributed-task): reimplement caching mechanism
  .github/workflows/main.yml
  README.md
  packages/nx-affected-matrix/README.md
  packages/nx-affected-matrix/src/app/nx-affected-matrix.ts
  packages/nx-distributed-task/README.md
  packages/nx-distributed-task/action.yml
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/inputs.ts
  packages/nx-distributed-task/src/app/upload.spec.ts
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/__mocks__/hasher.ts
  packages/utils/src/lib/cache.spec.ts
  packages/utils/src/lib/cache.ts
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/hasher.spec.ts
  packages/utils/src/lib/hasher.ts
  packages/utils/src/lib/task-graph.ts
Due: nx-affected-matrix, nx-distributed-task, utils

test: add logs
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/nx.ts
Due: nx-distributed-task
