Repository e-square-io/nx-github-actions: changes, and which Codecov flags are due for each by the changed paths.
All: nx-affected-matrix, nx-distributed-task, utils

codecov.yml:

flags:
  nx-affected-matrix:
    paths:
      - packages/nx-affected-matrix/**/*
  nx-distributed-task:
    paths:
      - packages/nx-distributed-task/**/*
  utils:
    paths:
      - packages/utils/**/*

Notes added by 'git notes add'
  0ce3e5f5545ec7a7156a8370b100f4ca67b6f4bf
Due: none

fix: wrong badge in readmes
  packages/nx-affected-matrix/README.md
  packages/nx-distributed-task/README.md
Due: nx-affected-matrix, nx-distributed-task

fix: wrong badge in readme (#28)
  packages/nx-affected-matrix/README.md
  packages/nx-distributed-task/README.md
Due: nx-affected-matrix, nx-distributed-task

chore(release): v2.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  6676d1012e2e9cab7935a55abf467a6d5779af30
Due: none

ci: missing github token
  .github/workflows/main.yml
  packages/utils/src/lib/exec.spec.ts
Due: utils

ci: missing github token (#29)
  .github/workflows/main.yml
  packages/utils/src/lib/exec.spec.ts
Due: utils

chore(release): v2.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e273b16d7f9d4d421eb98730b20cb11bda8f316d
Due: none

ci: missing github app token
  .github/workflows/main.yml
Due: none

ci: missing github app token [skip ci] (#30)
  .github/workflows/main.yml
Due: none

fix(utils): glob error is not handled silently
  packages/utils/src/lib/artifact.spec.ts
  packages/utils/src/lib/artifact.ts
Due: utils

fix(utils): glob error is not handled silently (#31)
  packages/utils/src/lib/artifact.spec.ts
  packages/utils/src/lib/artifact.ts
Due: utils

chore(release): v2.2.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  3f7b388920d69a268843b5b6d9073ff518e06b4c
Due: none

ci: publish dir not found
  .github/workflows/main.yml
  packages/utils/src/lib/artifact.ts
Due: utils

ci: fix failing pipeline
  .github/workflows/main.yml
  packages/utils/src/lib/artifact.ts
Due: utils

chore(release): v2.2.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  6bb5b6f9addd84d650266ad203b18880d68632ec
Due: none

ci: push to repo path is wrong
  .github/workflows/main.yml
  packages/nx-affected-matrix/README.md
  packages/nx-distributed-task/README.md
Due: nx-affected-matrix, nx-distributed-task

chore(release): v2.2.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  d8dd0c8d96b2c986decd636022ce937429a75fce
Due: none

fix: missing deps of deps in final build
  packages/nx-affected-matrix/project.json
  packages/nx-distributed-task/project.json
Due: nx-affected-matrix, nx-distributed-task

fix: missing deps of deps in final build (#32)
  packages/nx-affected-matrix/project.json
  packages/nx-distributed-task/project.json
Due: nx-affected-matrix, nx-distributed-task

chore(release): v2.2.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e413ef6ce1656ccdc33465ce2d7fd71f5912f5e0
Due: none

feat: use nx devkit
  __mocks__/@angular-devkit/build-angular/src/utils/version.js
  __mocks__/which.ts
  package-lock.json
  package.json
  packages/nx-affected-matrix/project.json
  packages/nx-affected-matrix/src/app/__mocks__/get-affected.ts
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-affected-matrix/src/app/nx-affected-matrix.spec.ts
  packages/nx-affected-matrix/src/app/nx-affected-matrix.ts
  packages/nx-affected-matrix/src/app/project-graph.ts
  packages/nx-affected-matrix/src/main.spec.ts
  packages/nx-affected-matrix/src/main.ts
  packages/nx-distributed-task/project.json
  packages/nx-distributed-task/src/app/.gitkeep
  packages/nx-distributed-task/src/app/__mocks__/nx.ts
  packages/nx-distributed-task/src/app/__mocks__/upload.ts
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/cache.ts
  packages/nx-distributed-task/src/app/nx-distributed-task.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
  packages/nx-distributed-task/src/app/upload.spec.ts
  packages/nx-distributed-task/src/app/upload.ts
  packages/nx-distributed-task/src/main.spec.ts
  packages/nx-distributed-task/src/main.ts
  packages/utils/src/lib/exec.ts
  packages/utils/src/lib/fs.ts
  packages/utils/src/lib/nx.spec.ts
  packages/utils/src/lib/nx.ts
  webpack.config.js
Due: nx-affected-matrix, nx-distributed-task, utils

fix: remove webpack rule
  webpack.config.js
Due: none

test: webpack changes
  package.json
  packages/nx-affected-matrix/src/app/__mocks__/get-affected.ts
  packages/nx-affected-matrix/src/app/get-affected.ts
  webpack.config.js
Due: nx-affected-matrix

test: webpack changes
  packages/nx-distributed-task/src/app/upload.ts
  webpack.config.js
Due: nx-distributed-task

test: webpack changes
  .github/workflows/main.yml
  __mocks__/prettier/index.js
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
  packages/nx-distributed-task/src/app/upload.spec.ts
  packages/nx-distributed-task/src/app/upload.ts
  packages/utils/src/lib/npm.ts
  webpack.config.js
Due: nx-affected-matrix, nx-distributed-task, utils

test: webpack changes
  webpack.config.js
Due: none

test: webpack changes
  packages/utils/src/lib/logger.ts
Due: utils

test: webpack changes
  .github/workflows/main.yml
  packages/nx-distributed-task/src/app/upload.ts
  packages/utils/src/lib/logger.ts
  webpack.config.js
Due: nx-distributed-task, utils

test: webpack changes
  packages/nx-affected-matrix/action.yml
  packages/nx-affected-matrix/src/app/get-affected.ts
  packages/nx-affected-matrix/src/app/inputs.ts
  packages/nx-affected-matrix/src/app/nx-affected-matrix.spec.ts
  packages/nx-affected-matrix/src/app/nx-affected-matrix.ts
  packages/nx-affected-matrix/src/main.spec.ts
  packages/nx-affected-matrix/src/main.ts
  packages/nx-distributed-task/src/app/inputs.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
  packages/nx-distributed-task/src/app/nx.ts
  packages/nx-distributed-task/src/app/upload.spec.ts
  packages/nx-distributed-task/src/app/upload.ts
  packages/utils/src/lib/inputs.spec.ts
  packages/utils/src/lib/inputs.ts
Due: nx-affected-matrix, nx-distributed-task, utils

test: webpack changes
  README.md
  packages/nx-affected-matrix/README.md
  packages/nx-affected-matrix/action.yml
  packages/nx-affected-matrix/src/app/nx-affected-matrix.spec.ts
  packages/nx-affected-matrix/src/app/nx-affected-matrix.ts
  packages/nx-affected-matrix/src/main.spec.ts
  packages/nx-affected-matrix/src/main.ts
Due: nx-affected-matrix

test: webpack changes
  packages/nx-distributed-task/src/app/cache.spec.ts
  packages/nx-distributed-task/src/app/nx.spec.ts
Due: nx-distributed-task

build: fix volunerability
  package-lock.json
  package.json
Due: none

build: fix volunerability
  package.json
Due: none
